<h1>Stripe account</h1>

<%= link_to "Create connected account", "https://connect.stripe.com/express/oauth/authorize?client_id=ca_H46mzTZLtx0MpvYf5weaum3r5tzBTQ7l&stripe_user[business_type]=individual&stripe_user[email]=test-#{SecureRandom.hex(2)}@gmail.com" %>

<h1>Trainings</h1>

<%= form_with(url: "/trainings", method: "create") do %>
  <%= label_tag(:user_id, "user:") %>
  <%= number_field(:training, :user_id, value: 1) %>
  <%= label_tag(:instructor_id, "instructor:") %>
  <%= number_field(:training, :instructor_id, value: 1) %>
  <%= submit_tag("Create") %>
<% end %>

<% @trainings.each do |t| %>
  <div>
    <span>Task #<%= t.id %></span>
    <span>User id #<%= t.user_id %></span>
    <span>Instructor id #<%= t.instructor_id %></span>
  </div>
<% end %>

<%= render partial: 'stripe_checkout_form' %>
